{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script type = "text/javascript" src="{% static 'bootstrap/js/prototype.js' %}"></script>
    <script type = "text/javascript" src="{% static 'bootstrap/js/scriptaculous.js' %}"></script>

    <body style="background:black">
        <div class="col-xs-12" >
            <div class="col-xs-5" >
                <div id="over">
                    <span class="Centerer"></span>
                    <img class="Centered" src = "{% static 'dna3.gif' %}" />
                </div>
            </div>
            <div class="col-xs-5" id="index_main">
                <div id = "index_container">
                    <div class="col-xs-12" >
                        <img id = "index_img" src = "{% static 'logo8.png' %}"/>
                    </div>
                    <div id = "index_siren">
                        <h15> siren </h15>
                        <br>
                    </div>
                </div>
                <div id="index_text">
                    <h12> enjoy the science </h12>
                    <br>
                    <div class="col-xs-6" id="index_text2">
                        <br>
                        <h10> <a href = "login" style = "color: #21eff2"> log in </a> </h10>
                    </div>
                    <div class="col-xs-6" id="index_text2">
                        <h11> new? </h11> <br>
                        <h10> <a href = "/app/sign" style = "color: #21eff2"> sign up </a>  </h10>
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
            <br>
        </div>

    </body>
    
    
{% endblock %}
